.container {
  position: relative;
  width: var(--viewport-width);
  height: var(--viewport-height);
  background-color: #1a3a2a;
  border: 2px solid #333;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.border {
  padding-top: 40px;
  padding-inline: 200px;
}

.entity {
  display: flex;
  align-items: center;
}

.entity:first-of-type {
  justify-self: end;
}

.entity:last-of-type {
  justify-self: start;
}
