.enemy {
  font-size: 128px;
  position: relative;
}

.enemy::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 10px;
  border-radius: 50%;
  filter: blur(5px);
}
